body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: black;
    color: #333;
}
header {
    background: #474747;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: black;
}
nav a {
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 800;
    padding: 2px 3px;
}
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align:left;
    background: black;
    padding: 80px 150px;
}
.intro-text {
    flex: 1;
    min-width: 500px;
    max-width: 600px;
    color: white;
    font-size: 50px;  
}
.intro-text h2 {
    font-size: 50px;
    color: white;
}
.intro-text p {
    font-size: 20px;
    line-height: 1.6;
}
.intro-photo {
    flex: 1;
    text-align: center;
}
.intro-photo img {
    width: 350px;
    height: 430px;
    border-radius: 6%;
    object-fit: cover;
    border: 5px solid black;
}
.section {
    justify-content: center;
    align-items: center;
    padding: 80px 196px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.section h2 {
    text-decoration: underline;
    font-size: 30px;
}
.section p {
    margin-bottom: 579px;
}
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 37px;
}
.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: left;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.Resume {
    text-decoration: none;
    display: inline-block;
    background-color: white;   
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 116px;
    font-size: 44px;
    padding: 3px 20px;
    font-size: 30px;
    line-height: 1.4;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.Resume:hover {
    background: #008b91;
}
nav a:hover {
    background: #008b91;
}
.btn:hover {
    background: #008b91;
}
.Skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:black;
    padding: 76px 450px;
    width: 55%;
    color: white;
    margin-top: -75px;
    margin-bottom: 133px;
}
.text-content {
    display: inline-block;
    flex-grow: 1;
    margin-right: 38px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid black;
    background-color: white;
    color: black;
    align-items: center;
    padding: 20px 20px;
}
.button-container{
    display: inline-block;
    width: 500px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    border: 5px solid black;
    background-color: white;
    color: black;
    align-items: center;
    padding: 20px 20px;
}
.button-container button {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px  
}
.button-container button:hover {
    background: #008b91;
}
footer {
    margin-top:auto;
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 14px;
}
.Special-footer {
    margin-top:13px;
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 14px;
}
