<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Arsh Mukadam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1 class="logo">Arsh Mukadam | Portfolio<span></span></h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('projects') }}">Projects</a>
        </nav>
    </header>

    <section class="section">
        <h2>Contact</h2>
        <p>Want to work together or just say hi? Reach me at <a href="mailto:arshmukadam0192@gmail.com"> ✉️arshmukadam0192@gmail.com</a></p>
        
    </section>

    <footer>
        <p>© 2025 Arsh Mukadam. All rights reserved.</p>
    </footer>
</body>
</html>
